<template>
  <div class="hello">
    <table>
      <thead style="">
        <tr>
          <td>Id</td>
          <td>Nama</td>
          <td>Umur</td>
        </tr>
      </thead>
      <tbody>
        <tr v-for="user in users">
          <td>{{user.id}}</td>
          <td>{{user.nama}}</td>
          <td>{{user.umur}}</td>
        </tr>
      </tbody>      
    </table>
  </div>
</template>

<script>
    import axios from 'axios'
    export default {
      data() {
        return {
          septe : "septe",
          users : []
        }
      },
      mounted(){
        axios.get('http://localhost:3000/')
        .then(Response => {
          this.users = Response.data
        })
      }
    }
    
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
